<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <link rel="stylesheet" href="/css/main.css"> 
</head>
<body>
    <main>
        <button ><a href ="/">Home Page</a></button>
        <% if(userArray.length > 0){ %>
        <ul>
            <h1>List of Users</h1>
            <% for(let i = 0 ; i < userArray.length ; i++) { %>
            <li><h2><%= userArray[i].name %></h2></li>
            <% } %>
        </ul>
    <% }else{ %>

    <h1>No Users Added</h1>
    <% } %>
 
    </main>
</body>
</html>